default_language_version:
  python: python3.12
minimum_pre_commit_version: 1.14.0
default_install_hook_types:
  - pre-commit
  - post-checkout
  - post-merge
  - post-rewrite
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.17
    hooks:
      - id: uv-lock
      - id: uv-sync
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-format
      - id: ruff-check
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
    - id: pyright
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.173.1
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        args:
          - --license-filepath
          - .license_header.txt
        files: '\.py$'
ci:
  autofix_prs: false
  skip:
    - renovate-config-validator
    - pyright
