[tool.poetry]
name = "aiolimiter"
version = "1.0.0-beta.0"
description = "asyncio rate limiter, a leaky bucket implementation"
license = "MIT"
authors = ["Martijn Pieters <mj@zopatista.com>"]
readme = "README.md"
homepage = "https://github.com/mjpieters/aiolimiter"
repository = "https://github.com/mjpieters/aiolimiter"
documentation = "http://aiolimiter.readthedocs.org/en/stable/"
keywords = ["asyncio", "rate-limiting", "leaky-bucket"]
classifiers = [
	"Framework :: AsyncIO",
	"Intended Audience :: Developers",
]

[tool.poetry.urls]
"CI: Azure Pipelines" = "https://dev.azure.com/mjpieters/aiolimiter/_build"
"Coverage: codecov" = "https://codecov.io/github/aiolimiter/aiosignal"
"GitHub: issues" = "https://github.com/mjpieters/aiolimiter/issues"

[tool.poetry.dependencies]
python = "^3.6"
# until tox updates their importlib_metadata pin to allow for 1.0.0,
# use a range that includes 1.0.0 but allows the older version.
# After that upgrade to ^1.0.0.
importlib_metadata = { version = ">=0.23,<1.1.0", python = "< 3.8" }
sphinx = {version = "^2.2.1", optional = true}
aiohttp-theme = {version = "^0.1.6", optional = true}
sphinx-autodoc-typehints = {version = "^1.10.3", optional = true}
sphinxcontrib-spelling = {version = "^4.3.0", optional = true}
toml = {version = "^0.10.0", optional = true}


[tool.poetry.dev-dependencies]
pytest = "^5.3"
flake8 = "^3.7.9"
flake8-bugbear = "^19.8.0"
black = "^19.10b0"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.8.1"
tox = "^3.14.1"
pre-commit = "^1.20.0"
mypy = "^0.750"
doit = "^0.31.1"
isort = {extras = ["pyproject"], version = "^4.3.21"}
toml = "^0.10.0"
twine = "^3.1.1"
towncrier = "^19.2.0"

[tool.poetry.extras]
docs = ["sphinx", "aiohttp-theme", "sphinx-autodoc-typehints", "sphinxcontrib-spelling", "toml"]

[tool.isort]
line_length = 88
known_third_party = ["pytest"]

[tool.towncrier]
directory = "changelog.d/"
template = "changelog.d/towncrier_template.md"
filename = "CHANGELOG.md"
package_dir = "src"
package = "aiolimiter"
title_format = "## {name} {version} ({project_date})"
issue_format = "[#{issue}](https://github.com/mjpieters/aiolimiter/issues/{issue})"
start_string = "<!-- Towncrier release notes start -->\n"
underlines = ["", "", ""]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
