[tool.poetry]
name = "aiolimiter"
version = "0.1.0-alpha.0"
description = "asyncio rate limiter, a leaky bucket implementation"
license = "MIT"
authors = ["Martijn Pieters <mj@zopatista.com>"]
readme = "README.md"
homepage = "https://github.com/mjpieters/aiolimiter"
repository = "https://github.com/mjpieters/aiolimiter"
documentation = "http://aiolimiter.readthedocs.org/en/stable/"
keywords = ["asyncio", "rate-limiting", "leaky-bucket"]
classifiers = [
	"Framework :: AsyncIO",
	"Intended Audience :: Developers",
]

[tool.poetry.dependencies]
python = "^3.6"
sphinx = {version = "^2.2.1", optional = true}
aiohttp-theme = {version = "^0.1.6", optional = true}
sphinx-autodoc-typehints = {version = "^1.10.3", optional = true}
sphinxcontrib-spelling = {version = "^4.3.0", optional = true}


[tool.poetry.dev-dependencies]
pytest = "^3.0"
flake8 = "^3.7.9"
flake8-bugbear = "^19.8.0"
black = "^19.10b0"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.8.1"
tox = "^3.14.1"
pre-commit = "^1.20.0"
mypy = "^0.740"
doit = "^0.31.1"
isort = {extras = ["pyproject"], version = "^4.3.21"}
toml = "^0.10.0"

[tool.poetry.extras]
docs = ["sphinx", "aiohttp-theme", "sphinx-autodoc-typehints", "sphinx-spelling"]

[tool.isort]
line_length = 88
known_third_party = ["pytest"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
