[tool.poetry]
name = "aiolimiter"
version = "1.0.0"
description = "asyncio rate limiter, a leaky bucket implementation"
license = "MIT"
authors = ["Martijn Pieters <mj@zopatista.com>"]
readme = "README.md"
homepage = "https://github.com/mjpieters/aiolimiter"
repository = "https://github.com/mjpieters/aiolimiter"
documentation = "http://aiolimiter.readthedocs.org/en/stable/"
keywords = ["asyncio", "rate-limiting", "leaky-bucket"]
classifiers = [
	"Framework :: AsyncIO",
	"Intended Audience :: Developers",
]
include = ["CHANGELOG.md"]

[tool.poetry.urls]
"CI: Azure Pipelines" = "https://dev.azure.com/mjpieters/aiolimiter/_build"
"Coverage: codecov" = "https://codecov.io/github/aiolimiter/aiosignal"
"GitHub: issues" = "https://github.com/mjpieters/aiolimiter/issues"

[tool.poetry.dependencies]
python = "^3.6.1"
importlib_metadata = { version = ">=1.3,<5.0", python = "< 3.8" }
sphinx = {version = ">=2.2.1,<5.0.0", optional = true}
aiohttp-theme = {version = "^0.1.6", optional = true}
sphinx-autodoc-typehints = {version = "^1.10.3", optional = true}
sphinxcontrib-spelling = {version = ">=4.3,<8.0", optional = true}
toml = {version = "^0.10.0", optional = true}


[tool.poetry.dev-dependencies]
pytest = "^6.0"
flake8 = "^4.0.1"
flake8-bugbear = "^21.3.2"
pytest-asyncio = "^0.15.0"
pytest-cov = "^3.0.0"
tox = "^3.14.1"
pre-commit = "^2.9.2"
doit = "^0.33.0"
isort = "^5.2.1"
toml = "^0.10.0"
twine = "^3.1.1"
towncrier = "^21.3.0"

[tool.poetry.dev-dependencies.black]
version = "^20.8b0"
markers = "platform_python_implementation != 'PyPy'"

[tool.poetry.dev-dependencies.mypy]
version = "^0.782"
markers = "platform_python_implementation != 'PyPy'"

[tool.poetry.extras]
docs = ["sphinx", "aiohttp-theme", "sphinx-autodoc-typehints", "sphinxcontrib-spelling", "toml"]

[tool.isort]
line_length = 88
known_third_party = ["pytest"]

[tool.towncrier]
directory = "changelog.d/"
template = "changelog.d/towncrier_template.md"
filename = "CHANGELOG.md"
package_dir = "src"
package = "aiolimiter"
title_format = "## {name} {version} ({project_date})"
issue_format = "[#{issue}](https://github.com/mjpieters/aiolimiter/issues/{issue})"
start_string = "<!-- Towncrier release notes start -->\n"
underlines = ["", "", ""]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
