trigger:
  batch: true
  branches:
    include:
      - master
  tags:
    exclude:
      - "*"
pr:
  autoCancel: true
  branches:
    include:
      - master

variables:
  - group: codecov

stages:
  - template: stage-lint.yml
  - template: stage-test.yml
    parameters:
      pythonVersions:
        - "3.7"
        - "3.8"
        - "3.9"
