trigger:
  tags:
    include:
      - v?.*
pr: none

variables:
  - group: codecov
  - group: twine

stages:
  - template: stage-lint.yml

  - template: stage-test.yml
    parameters:
      pythonVersions:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"

  - template: stage-deploy.yml
    parameters:
      pythonVersions:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"

  - template: stage-publish.yml
