parameters:
  pythonVersions: []
  operatingSystems:
    - "Linux"
    - "Windows"
    - "Mac"

variables:
  - POETRY_HOME: $[ format('{0}/.poetry', variables['Pipeline.Workspace']) ]

stages:
  - stage: build
    displayName: "Build"

    jobs:
      - job: distributions
        displayName: "Create distributions"
        pool:
          vmImage: "ubuntu-latest"

        steps:
          - checkout: self
            clean: true

          - task: UsePythonVersion@0
            inputs:
              versionSpec: "3.7"
              architecture: "x64"

          - bash: |
              RELEASE_VERSION=`git describe --exact-match $(Build.SourceBranch) | cut -b2-`
              grep -q "## Aiolimiter $RELEASE_VERSION (.*)$" CHANGELOG.md
            displayName: Check for release in the changelog

          - bash: |
              FRAGMENTS=`git ls-tree -r --name-only $(Build.SourceBranch) changelog.d/ | grep -v '^changelog\.d/towncrier_template\.md$'`
              if [[ -n "$FRAGMENTS" ]]; then
                echo "##vso[task.logissue]Found unprocessed Towncrier fragments: $FRAGMENTS"
                exit 1
              fi
            displayName: Verify there are no towncrier fragments

          - bash: |
              curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -
              echo "##vso[task.prependpath]$POETRY_HOME/bin/"
            displayName: Install Poetry

          - bash: poetry install
            displayName: Install dependencies

          - bash: poetry build
            displayName: 'Make tarball and universal wheel'

          - task: CopyFiles@2
            displayName: "Copy distribution"
            inputs:
              sourceFolder: $(Build.SourcesDirectory)/dist
              targetFolder: $(Build.ArtifactStagingDirectory)

          - task: PublishBuildArtifacts@1
            displayName: "Publish distribution"
            inputs:
              pathtoPublish: $(Build.ArtifactStagingDirectory)
              artifactName: dist
